client/src/test/mule_preview/client/transformers/__fixtures__/example-mule-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="example:/http-incoming-flow">
        <http:listener config-ref="example-pizza-httpListenerConfig" path="/" doc:name="HTTP"/>
        <set-variable variableName="z-level" value="#[9000]" doc:name="Set Z level to 9000"/>
        <set-payload value="#['lol']" doc:name="Overwrite the payload"/>
        <flow-ref name="example:/expunge-convolvers" doc:name="example:/expunge-convolvers"/>
        <expression-filter expression="" doc:name="Filter recalcitrant ions"/>
        <foreach doc:name="For Each">
            <flow-ref name="example:/strain-overflow-noodle-requests" doc:name="example:/strain-overflow-noodle-requests"/>
        </foreach>
        <set-payload doc:name="Server Noodles"/>
        <dw:transform-message doc:name="Deduplicate">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---

payload distinctBy $.pizza]]></dw:set-payload>
        </dw:transform-message>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload doc:name="Nothing to see here"/>
            <message-properties-transformer doc:name="Nor here"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="example:/expunge-convolvers">
        <db:no-operation-selected config-ref="" bulkMode="false" doc:name="Flush the convolver prisms"/>
        <choice doc:name="Did the flush occur?">
            <when expression="">
                <s3:no-operation-selected config-ref="" doc:name="Fetch more prisms"/>
                <logger level="INFO" doc:name="Log number of fanglehockeys"/>
            </when>
            <otherwise>
                <logger message="Bar" level="INFO" doc:name="Log Error"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="example:/strain-overflow-noodle-requests">
        <scatter-gather doc:name="Clean carburetors">
            <processor-chain doc:name="Processor Chain">
                <http:request config-ref="" path="" method="" doc:name="Clean Carburetor 1"/>
                <mulexml:xml-to-dom-transformer doc:name="XML to DOM"/>
            </processor-chain>
            <processor-chain>
                <http:request config-ref="" path="" method="" doc:name="Oops this has a really long name"/>
                <set-payload doc:name="Set Payload"/>
            </processor-chain>
            <http:request config-ref="" path="" method="" doc:name="Clean Carburetor 3"/>
        </scatter-gather>
        <http:request config-ref="" path="" method="" doc:name="Start Internal Noodle Engine"/>
    </sub-flow>
</mule>
